{% extends './partials/_base.njk' %}
{% block content %}
 
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">thisis the login page</h1>
      <p>
      login page login page
      </p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
      </p>
    </div>
  </div>

  
{% endblock content %}